.DS_Store
*~
*.tmproj
.bundle
.idea
.sass-cache/
.powenv
.powder
config/database.yml
config/smtp.yml
config/scribd.yml
db/*.sqlite3
log/*.log
log/*.log.*
tmp/
.Gemfile
.tm_properties
pid
results.xml
results.txt
spec/javascripts/fixtures/generated/*
webrat.log
chromedriver.log
newrelic_agent.log
libpeerconnection.log
.tddium*
.tddium
rvm.env

